---
layout: layouts/base.njk
---

<body class="big-center">
    <div class="jumbo-title">
        im josh
    </div>

    <div class="jumbo-subtitle">
        <a class="jumbo-subtitle-link" href="posts">posts</a>
        <a class="jumbo-subtitle-link" href="about">about me</a>
    </div>
</body>