---
layout: layouts/main.njk
tags: post
date: Created
---

<article>
  <div class="post-title">{{ title }}</div>
  <div class="post-subtitle">{{ subtitle }}</div>
  <div class="date">{{ page.date | dateDisplay }}</div>

  {{ content | safe }}
</article>

<footer>
  <a href="#">Back to top</a>
</footer>